*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: darkolivegreen;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
.in{
    font-size: 25px;
    margin: 20px;
}
.in img{
    border-radius: 10%;
    padding-top: 30px;
    padding-left: 20%;
    width: 80%;
    padding-bottom: 30px;

}
.trailer{
    margin-left: 20px;
}
.trailer iframe{
    margin-left: 15%;
}
.cast{
    margin-left:20% ;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cast img{
    border-radius: 10%;
    width: 50%;
    height: 80%;
    border: 10px solid rgb(218, 210, 210);
}
.verde{
    padding-left: 30%;
}
.cta{
    text-align: center;
}
.cta button{
    font-weight: 500;
    color:white;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}